{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    "transform-strict-mode"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-2"
  ],
  "ignore": ["node_modules"]
}
